@font-face {
    font-family: 'beonmedium';
    src: url('../fonts/webfontkit-20190523-125942/beon-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20190523-125942/beon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #1B1725;
}

.center-wrap {
    position: relative;
    height: 100%;
    width: 100%
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

chessboard {
    display: grid;
    grid-gap: 4px;
    height: 600px;
    width: 600px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

chesssquare {
    border-radius: 4px;
    justify-self: stretch;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-size: 3em;
    transition: 0.1s all;
    cursor: pointer;
    position: relative;
}

chesssquare p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-family: beonmedium;
    z-index: -1;
}

chesssquare p.black {
    color: #D52EFF;
    text-shadow: 0 0 10px #D52EFF;
}

chesssquare p.white {
    color: #2EFF58;
    text-shadow: 0 0 10px #2EFF58;
}

chesssquare:hover {
    font-size: 3.25em;
}

chesssquare::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

chesssquare.highlighted::before {
    animation-name: highlightAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

chesssquare.dark.highlighted::before {
    box-shadow: inset 0 0 3px 2px #FF0000;
}

chesssquare.light.highlighted::before {
    box-shadow: inset 0 0 3px 2px #41EAD4;
}

chesssquare.highlighted.focused::before {
    background-color: rgba(255, 255, 0, 0.5);
    opacity: 1;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

chesssquare.dark.highlighted.focused::before {
    animation-name: focusDarkAnimation;
}

chesssquare.light.highlighted.focused::before {
    animation-name: focusLightAnimation;
}

@keyframes highlightAnimation {
    from { background-color: rgba(255, 255, 0, 0); }
    to { background-color: rgba(255, 255, 0, 0.5); }
}

@keyframes focusDarkAnimation {
    from 
    {
        box-shadow: 
            0 0 16px 2px #FF0000,
            inset 0 0 2px 2px #FF0000;
    }
    to
    {
        box-shadow: 
            0 0 16px 2px #FF0000,
            inset 0 0 3px 8px #FF0000;
    }
}

@keyframes focusLightAnimation {
    from 
    {
        box-shadow: 
            0 0 16px 2px #41EAD4,
            inset 0 0 2px 2px #41EAD4;
    }
    to
    {
        box-shadow: 
            0 0 16px 2px #41EAD4,
            inset 0 0 3px 8px #41EAD4;
    }
}

chesssquare.dark
{
    border: solid 4px #FF0000;
    box-shadow: 
        0 0 12px 2px #FF0000,
        inset 0 0 4px 4px #FF0000;
}
chesssquare.light
{
    border: solid 4px #41EAD4;
    box-shadow:
        0 0 12px 2px #41EAD4,
        inset 0 0 4px 4px #41EAD4;

}
