chessboard {
    display: grid;
    border: solid 1px #000000;
    height: 600px;
    width: 600px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

chesssquare p {
    margin: 0;
}

chesssquare {
    border: solid 1px #000;
    justify-self: stretch;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    color: #011638;
    transition: 0.1s all;
    cursor: pointer;
}

chesssquare:hover {
    font-size: 3.25em;
}

chesssquare.dark
{
    background-color: #A57F60;
}

chesssquare.light
{
    background-color: #E8D2AE;
}
